@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

p {
  margin-top: 0px;
}

body {
  font-family: "Roboto";
  font-style: normal;
  background-color: #00000000;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
}

/* header */

header {
  width: 1283px;
  height: 196px;
  margin-top: 63px;
}

main {
  display: flex;
}

/* logo */

.logo {
  width: 334px;
  height: 79px;
  font-weight: 400;
  font-size: 80px;
  line-height: 79px;
  text-decoration: none;
  /* margin-left: -2px; */
}

.logo a {
  height: 79px;
  /* display: block; */
  text-decoration: none;
}

.logo .logo-ra {
  /* display: inline-block; */
  color: #000000;
}

.logo .logo-mba {
  /* display: inline-block; */
  color: #4bcaff;
}

/* top menu */

.top-menu {
  width: calc(1280px - 160px);
  height: 69px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  background-color: #35444f;
  padding-left: 160px;
  display: flex;
  margin-top: 47px;
}

.top-menu a {
  color: #ffffff;
  text-decoration: none;
  padding-top: 24px;
  line-height: 28px;
  display: block;
  height: 69px;
  box-sizing: border-box;
}

.top-menu-item1 {
  width: 331px;
  border-left: 1px solid #ffffff;
  box-sizing: border-box;
}

.top-menu-item1 a {
  padding-left: 31px;
}

.top-menu-item2 {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  box-sizing: border-box;
  width: 152px;
}

.top-menu-item2 a {
  padding-left: 36px;
}

.top-menu-item3 {
  box-sizing: border-box;
  border-right: 1px solid #ffffff;
  width: 285px;
}

.top-menu-item3 a {
  padding-left: 39px;
}

.top-menu-item4 {
  box-sizing: border-box;
  border-right: 1px solid #ffffff;
  width: 221px;
}

.top-menu-item4 a {
  padding-left: 40px;
}

.top-menu-item a:hover{
  background-color: #222f3a;
  padding-top: 24px;
}

/* aside */

aside {
  /* display: block; */
  width: 396px;
}

.left-menu {
  width: 343px;
  height: 399px;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  display: block;
  margin-top: 49px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.left-menu a {
  width: 341px;
  height: 80px;
  color: #485863;
  text-decoration: none;
  display: block;
}

.left-menu-item1 a,
.left-menu-item2 a {
  box-sizing: border-box;
  padding: 25px 0 0 43px;
}

/* .left-menu-item2 a {
  box-sizing: border-box;
  padding: 25px 0 0 43px;
} */

.left-menu-item3 a {
  box-sizing: border-box;
  padding: 23px 0 0 41px;
}

.left-menu-item4 a {
  box-sizing: border-box;
  padding: 22px 0 0 43px;
}

.left-menu-item5 a {
  box-sizing: border-box;
  padding: 21px 0 0 43px;
}

.left-menu-item a:hover {
  background-color: #dbdbdb;
  padding-left: 71px;
  height: 80px;
}

/* selection */

section {
  /* display: block; */
  width: 885px;
  margin-top: 49px;
}

/* image */

.top-image {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.border-for-img {
  width: 320px;
  height: 381px;
  margin: 75px 0 0 297px;
  /* overflow: hidden; */
}

.top-image img {
  width: 320px;
  height: 381px;
  transition: all 0.4s ease;
}

.top-image img:hover {
  transform: scale(1.2);
}

/* paragraph */

.wrap {
  margin-top: 3px;
}

.text{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.paragraph-1 {
  margin-top: 36px;
}

.paragraph-2 {
  margin-top: 29px;
}

/* footer */

footer {
  width: 1280px;
  height: 99px;
  margin-top: 30px;
}

.footer {
  width: 1280px;
  height: 69px;
  background-color: #63696e7a;
  display: flex;
  flex-direction: row;
}

/* bottom menu */

.bottom-menu {
  display: flex;
  flex-direction: row;
  width: 875px;
  height: 28px;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin: 21px 0 0 40px;
}

.bottom-menu div a {
  display: block;
  color: #0c1927;
  text-decoration: none;
  padding-bottom: 13px;
}

.bottom-menu-item1 {
  width: 95px;
}

.bottom-menu-item2 {
  width: 169px;
}

.bottom-menu-item3 {
  width: 217px;
}

.bottom-menu-item4 {
  width: 172px;
}

.bottom-menu div a:hover {
  display: block;
  color: #3181a6;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #3181a6;
}

.flex-item {
  margin-right: 21px;
}

.bottom-menu-item5 {
  margin-right: 0;
}

.copyright {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin: 23px 0 0 135px;
}

/*  */

.r {
  border: 1px red solid;
}

.g {
  border: 1px green solid;
}

.y {
  border: 1px yellow solid;
}

.b {
  border: 1px black solid;
}
